@import url("photographer.css");

.noScroll {
  overflow: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 70px;
}

.photographerArticle {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographerLink {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographerH2 {
  color: #d3573c;
  font-size: 36px;
  line-height: 0;
}

.photographerImgFrame {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  fill: #c4c4c4;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: 50%;
}

.photographerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  background: url(<path-to-image>),
    lightgray 112px -34.731px / 57.605% 112.699% no-repeat;
}

.photographerDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 0;
}

.photographerDetails p {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.photographerLocation {
  color: #901c1c;
  font-size: 19px;
}

.photographerTagline {
  color: #000;
  font-size: 16px;
}

.photographerPrice {
  color: #757575;
  font-size: 12px;
}
